@use 'sass:math';

// colors

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --night-bg-color: #363b56;
  --day-bg-color: var(--color-white);
  --color-grey-200: #5b5b5b;
  --color-grey-100: #dbdbdb;
  --color-yellow-300: #ffb800;
  --color-yellow-200: #ffe381;
  --color-blue: #b9dbea;
}

// fonts
$mont: 'Montserrat', sans-serif;
$font: $mont;

// grid and responsive
$container: 1770px;
$columns: 12;
$gap: 30px;
$halfGap: math.div($gap, 2);
$fields: 75px;

$z-index: (
  header: 100,
  modal: 300
);

$break_xl: 1640px;
$break_lg: 1320px;
$break_md: 1023px;
$break_sm: 767px;
$break_xs: 575px;
$break_xxs: 449px;

$shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
