.weather-settings {
  &-add {
    margin-top: calc(var(--gap) * 2);

    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-left: 12px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--text-color) !important;
      color: var(--bg-color);
      font-size: 1rem;
      transition: opacity 0.25s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
